* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 30px 100px 40px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    padding-bottom: 80px;
    gap: 30px;
}

.hero-content {
    flex: 1;
}

.hero-true {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    color:#E5E7EB;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-button {
    background-color: #3882F6;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: none;
}

.img {
    background-color: #808080;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 110px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card-box {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.card-text {
    width: 200px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 110px 250px 110px 250px;
}

.quote-main {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-source {
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
}